.main{
	width: 100%;
	margin-top: 1px;
}
.main .main_head{
	text-align: center;
	height: 140px;
	padding: 30px 0;
	background: rgba(215,233,244,.8);
}
.main .main_head img{
	height: 100%;
	border-radius:50% ;
	padding-bottom: 5px;
}
.main .main_head a{
	padding-left: 2px;
	color: rgba(0,0,255,.6);
	text-decoration: underline;
}
.main .main_nav{
	width: 100%;
	height: 60px;
	background: #fff;
}
.main .main_nav a{
	display: block;
	font-size: 16px;
	height: 60px;
	line-height: 60px;
	padding-left: 50px;
	padding-right: 20px;
	background: url(../img/jl.png) 11px 17px no-repeat;
	background-size: 40px 200px;
}
.main .main_nav+div{
	border-top: 1px solid #ccc;
}
.main .main_nav a span{
	font-family: simsun;
	font-size: 22px;
	font-weight: 700;
	float: right;
}
.main .main_nav:nth-child(3) a{
	background: url(../img/jl.png) 10px -27px no-repeat;
	background-size: 40px 200px;
}
.main .main_nav:nth-child(4) a{
	background: url(../img/jl.png) 10px -70px no-repeat;
	background-size: 40px 200px;
}
.main .main_nav:nth-child(5) a{
	background: url(../img/jl.png) 8px -114px no-repeat;
	background-size: 40px 200px;
}
.main .main_nav:nth-child(6) a{
	background: url(../img/jl.png) 9px -157px no-repeat;
	background-size: 40px 200px;
}